/ascii.py
/bmi.py
/Dump.py
/ifelse.py
/Input.py
/lists.py
/main.py
/modulo.py
/namegenerator.py
/names.py
/primary.py
/Rollercoaster.py
/rps.py
/rps25.py
/rpstry.py
/Shuffles.py
/tipcalculator.py
/tkinkter.py
/type_error.py